.navigation {
  @apply py-2.5 xl:py-3.25;
  &__logo {
    @apply xl:bg-title px-5 -my-3.25 py-3.25;
    &-icon {
      width: 102px;
      height: 70px;
      @include screen-xl {
        width: 105px;
        height: 74px;
      }
    }
  }
}
