.about-development {
  &__top {
    display: flex;
    flex-direction: column;
    @include screen-lg {
      flex-direction: row;
      align-items: center;
    }
    &-logo {
      width: 160px;
      height: 160px;
      align-self: flex-end;
      transform: translateY(-110px);
      margin-bottom: -80px;
      @include screen-lg {
        transform: translateY(0);
        margin-bottom: 0;
        order: 3;
        width: 110px;
        height: 110px;
        align-self: flex-start;
      }
      @include screen-lg2 {
        width: 160px;
        height: 160px;
        margin-right: 60px;
        order: 1;
      }
      @include screen-xl {
        width: 320px;
        height: 320px;
        margin-right: 115px;
        order: 1;
      }
    }
    &-text {
      @apply text-5.25-5xl lg2:text-3xl xl:text-5.25-5xl;
      @include screen-lg {
        order: 1;
      }
      @include screen-lg2 {
        order: 3;
        margin-right: 21px;
      }
      @include screen-xl {
        order: 3;
        margin-right: 21px;
      }
    }

    &-icon {
      width: 161px;
      height: 189px;
      align-self: flex-end;
      transform: translate(20px, -110px);
      margin-bottom: -100px;
      @include screen-lg {
        order: 2;
        width: 181px;
        height: 211px;
        transform: translate(-20px, 0);
        margin-bottom: 0;
      }
      @include screen-lg2 {
        width: 217px;
        height: 255px;
        transform: translateY(-62.5px);
        margin-bottom: -62.5px;
      }
      @include screen-xl {
        width: 434px;
        height: 510px;
        transform: translateY(-125px);
        margin-bottom: -125px;
      }
    }
  }
}
