extend ../layouts/layouts/other.pug


block content
    include ../components/back-hks.pug
    include ../components/number-mini.pug
    include ../components/floors-slider-hks.pug
    include ../components/liters-hks.pug

    section(class="")
      .container.grow(class="flex flex-col lg2:px-0")
        div(class="home-card-hks relative ") 
          div(class="bg-gray-light -mx-5 px-5 py-10 lg2:mx-0 lg2:p-10 lg2:pb-8 ")
            div(class="relative lg2:-left-2 xl:-left-0")
              +back-hks('gray')(class=" mb-7")
            
              div 
                h2(class="text-yellow text-7xl mb-4 ") ДОМ <br> ред ЛАЙТ 125 
                p(class="text-dark font-reformagrotesk text-4xl font-medium lg2:text-5xl mb-2.5") на участке / ул. пушкина, 4
                div(class=" border rounded border-[#c0c0c0] px-1.5 text-center py-1 text-gray normal-case text-sm mb-7.5") кадастровый номер 47:14:1203001:814
                  
                div(class="grid mb-7.5 lg2:mb-10   grid-cols-3 lg:grid-cols-6  lg2:grid-cols-3 gap-y-5") 
                  div 
                    h3(class="text-green text-5.25-5xl") 125
                    p(class=" text-dark text-base lowercase") гараж, м <sup>2</sup>

                  div 
                    h3(class="text-green text-5.25-5xl") 24
                    p(class=" text-dark text-base lowercase") спальни

                  div 
                    h3(class="text-green text-5.25-5xl") 2
                    p(class=" text-dark text-base lowercase") этажа

                  div 
                    h3(class="text-green text-5.25-5xl") 6.78
                    p(class=" text-dark text-base lowercase") s участка, <br>сот

                  div 
                    h3(class="text-green text-5.25-5xl") 3
                    p(class=" text-dark text-base lowercase") длина <br> участка, м

                  div 
                    h3(class="text-green text-5.25-5xl") 3
                    p(class=" text-dark text-base lowercase") ширина <br> участка, м
                p(class="text-dark font-reformagrotesk text-5.25-5xl tracking-1 font-medium") 11 222 595 руб
                p(class=" text-gray text-base normal-case ") стоимость дома с участком

                +liters-hks(class="mx-auto  ")
          
          div(class="swiper mainSwiper home-card-hks__slider !-mx-5 lg2:!mx-0 " id="what")
            div(class='swiper-wrapper') 
              div(class="swiper-slide home-card-hks__slide" ) 
                
                img(src=require("../img/images/card-about/fundament.jpg"), alt="fundament")
            .swiper-prev
            .swiper-next
          div(class="hidden lg2:block absolute bottom-10 left-1/2 z-10 animate__animated animate__flash animate__infinite animate__slower") 
            svg(width='14' height='29' viewbox='0 0 14 29' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M6.98902 28.9976C6.75578 28.9981 6.52974 28.9168 6.35014 28.7678L0.360621 23.7703C0.156761 23.6007 0.0285612 23.3569 0.00422411 23.0926C-0.020113 22.8283 0.0614062 22.5652 0.230848 22.3611C0.40029 22.157 0.643776 22.0286 0.90774 22.0042C1.1717 21.9799 1.43452 22.0615 1.63838 22.2311L6.98902 26.7088L12.3397 22.3911C12.4418 22.308 12.5593 22.246 12.6854 22.2086C12.8115 22.1712 12.9438 22.1591 13.0746 22.173C13.2054 22.187 13.3321 22.2267 13.4475 22.2898C13.563 22.3529 13.6648 22.4383 13.7472 22.541C13.8386 22.6437 13.9079 22.7643 13.9506 22.8951C13.9933 23.0259 14.0086 23.1641 13.9954 23.3011C13.9823 23.4381 13.9411 23.5709 13.8743 23.6912C13.8076 23.8115 13.7167 23.9167 13.6074 24.0002L7.61792 28.8277C7.43316 28.9532 7.21173 29.013 6.98902 28.9976Z' fill='white')
              path(d='M6.98902 17.9976C6.75578 17.9981 6.52974 17.9168 6.35014 17.7678L0.360621 12.7703C0.156761 12.6007 0.0285612 12.3569 0.00422411 12.0926C-0.020113 11.8283 0.0614062 11.5652 0.230848 11.3611C0.40029 11.157 0.643776 11.0286 0.90774 11.0042C1.1717 10.9799 1.43452 11.0615 1.63838 11.2311L6.98902 15.7088L12.3397 11.3911C12.4418 11.308 12.5593 11.246 12.6854 11.2086C12.8115 11.1712 12.9438 11.1591 13.0746 11.173C13.2054 11.187 13.3321 11.2267 13.4475 11.2898C13.563 11.3529 13.6648 11.4383 13.7472 11.541C13.8386 11.6437 13.9079 11.7643 13.9506 11.8951C13.9933 12.0259 14.0086 12.1641 13.9954 12.3011C13.9823 12.4381 13.9411 12.5709 13.8743 12.6912C13.8076 12.8115 13.7167 12.9167 13.6074 13.0002L7.61792 17.8277C7.43316 17.9532 7.21173 18.013 6.98902 17.9976Z' fill='white')
              path(d='M6.98902 6.99763C6.75578 6.99809 6.52974 6.91676 6.35014 6.76775L0.360621 1.77034C0.156761 1.60069 0.0285612 1.3569 0.00422411 1.09261C-0.020113 0.828322 0.0614062 0.565176 0.230848 0.361065C0.40029 0.156954 0.643776 0.0285965 0.90774 0.00422933C1.1717 -0.0201378 1.43452 0.0614814 1.63838 0.231132L6.98902 4.70882L12.3397 0.39105C12.4418 0.308027 12.5593 0.246028 12.6854 0.208615C12.8115 0.171203 12.9438 0.159115 13.0746 0.173047C13.2054 0.186979 13.3321 0.226656 13.4475 0.289797C13.563 0.352938 13.6648 0.438299 13.7472 0.540973C13.8386 0.643741 13.9079 0.764305 13.9506 0.895111C13.9933 1.02592 14.0086 1.16415 13.9954 1.30114C13.9823 1.43813 13.9411 1.57093 13.8743 1.69123C13.8076 1.81152 13.7167 1.91672 13.6074 2.00022L7.61792 6.82772C7.43316 6.95317 7.21173 7.013 6.98902 6.99763Z' fill='white')
      .container.px-0(class="block") 
        div(class="font-reformagrotesk text-center flex flex-wrap divide-x " )
          div.flex.w-full.divide-x
            div(class="bg-gray p-2.75 w-full lg2:text-2xl")
              a(href="#new") про ипотеку
            div(class="bg-dark p-2.75 w-full lg2:text-2xl")
              a(href="#20min") Комплектация таунхауса
            div(class="bg-green p-2.75 w-full lg2:text-2xl hidden lg2:block")
              a(href="#") забронировать таунхаус
          div(class="bg-green p-2.75 w-full lg2:text-2xl lg2:hidden  border-t border-white border-solid")
            a(href="#") забронировать таунхаус
      .container 
        div(class="bg-yellow -mx-5 py-15 lg2:-mx-10 lg2:py-20 ")
          div(class="flex flex-col items-center gap-10") 
            +floors-slider-hks
            div(class="px-5 lg2:px-0 w-full lg2:w-[380px]") 
              a(href="#" target="_blank" class="border border-white py-3.5 text-center block  normal-case text-title text-base  lg2:px-3.5") Скачать карточку дома 
      .container
        div(class=" py-5 lg2:py-30")
          h2(class="text-5.25-5xl lg2:text-8xl mb-10 lg2:mb-15") другие проекты домов для этого участка
          div(class=" flex flex-wrap gap-2.5 lg2:gap-5")
            a.other-card(href="#")
              img(src=require("../img/images/card-about/fundament.jpg"), alt="fundament")
              div.other-card__text  МД КБ — 120 
            a.other-card(href="#")
              img(src=require("../img/images/card-about/fundament.jpg"), alt="fundament")
              div.other-card__text  МД КБ — 120 
