
mixin buttons-card()
  div( class="button__group")&attributes(attributes)
    button.button__round.button__round_active(data-toggle='plan_0')
      | Общий
    button.button__round(data-toggle='plan_1')
      | 1 очередь
    button.button__round.button__round_disabled()
      | 2 очередь
    button.button__round.button__round_disabled()
      | 3 очередь