mixin floors-slider ()
  div(class="swiper floorsSwiper")&attributes(attributes)
    .swiper-wrapper
      .swiper-slide
        img(src=require("../img/images/home-plan.png"), alt="floor")
      .swiper-slide
        img(src=require("../img/images/home-plan.png"), alt="floor")
      .swiper-slide
        img(src=require("../img/images/home-plan.png"), alt="floor")
    .swiper-pagination-floor
    svg.hidden.absolute.bottom-0.right-0(class='lg2:block' width='60' height='60' viewbox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
      circle(cx='30' cy='30' r='29' stroke='white' stroke-width='2')
      g
        line(x1='47.0457' y1='17.5749' x2='30.4707' y2='30.4695' stroke='#A61C20' stroke-width='2')
        path(d='M47.0449 17.575C44.4294 19.6097 40.6597 19.1389 38.625 16.5234' stroke='#A61C20' stroke-width='2')
        path(d='M45.9934 25.9951C43.9587 23.3796 44.4295 19.6099 47.0449 17.5752' stroke='#A61C20' stroke-width='2')
        line(x1='13.8948' y1='43.364' x2='30.4698' y2='30.4695' stroke='white' stroke-width='2')
        path(d='M13.8956 43.364C16.511 41.3293 20.2807 41.8001 22.3154 44.4155' stroke='white' stroke-width='2')
        path(d='M14.9471 34.9439C16.9818 37.5594 16.511 41.3291 13.8955 43.3638' stroke='white' stroke-width='2')
        line(x1='43.365' y1='47.0442' x2='30.4705' y2='30.4692' stroke='white' stroke-width='2')
        path(d='M43.3645 47.0444C41.3298 44.4289 41.8006 40.6592 44.416 38.6245' stroke='white' stroke-width='2')
        path(d='M34.9454 45.9929C37.5608 43.9582 41.3305 44.429 43.3652 47.0444' stroke='white' stroke-width='2')
        line(x1='17.5754' y1='13.8948' x2='30.47' y2='30.4698' stroke='white' stroke-width='2')
        path(d='M17.576 13.8946C19.6107 16.51 19.1399 20.2798 16.5244 22.3145' stroke='white' stroke-width='2')
        path(d='M25.9951 14.9461C23.3796 16.9808 19.6099 16.51 17.5752 13.8945' stroke='white' stroke-width='2')
        circle(r='3.5' transform='matrix(-1 0 0 1 30.5 30.5)' fill='white')
        circle(cx='53.5' cy='10.5' r='6.5' fill='#A61C20')
        path(d='M56.4395 11.6895C56.3665 12.0267 56.2503 12.3411 56.0908 12.6328C55.9313 12.9199 55.7285 13.1706 55.4824 13.3848C55.2409 13.599 54.9629 13.7676 54.6484 13.8906C54.3385 14.0091 54.0013 14.0684 53.6367 14.0684C53.2174 14.0684 52.8255 13.9909 52.4609 13.8359C52.0964 13.6764 51.7751 13.4554 51.4971 13.1729C51.2236 12.8857 51.0094 12.5462 50.8545 12.1543C50.7041 11.7624 50.6289 11.3271 50.6289 10.8486C50.6289 10.3747 50.7041 9.94173 50.8545 9.5498C51.0094 9.15788 51.2236 8.82064 51.4971 8.53809C51.7751 8.25098 52.0964 8.02767 52.4609 7.86816C52.8255 7.70866 53.2174 7.62891 53.6367 7.62891C54.0013 7.62891 54.3385 7.69043 54.6484 7.81348C54.9629 7.93197 55.2409 8.10059 55.4824 8.31934C55.7285 8.53353 55.929 8.78646 56.084 9.07812C56.2435 9.36523 56.362 9.67513 56.4395 10.0078H55.1064C55.0016 9.65234 54.8285 9.36523 54.5869 9.14648C54.3454 8.92773 54.0286 8.81836 53.6367 8.81836C53.4134 8.81836 53.1947 8.86849 52.9805 8.96875C52.7663 9.06445 52.5794 9.20345 52.4199 9.38574C52.2604 9.56803 52.1305 9.78451 52.0303 10.0352C51.9346 10.2812 51.8867 10.5524 51.8867 10.8486C51.8867 11.1494 51.9346 11.4229 52.0303 11.6689C52.1305 11.915 52.2604 12.1292 52.4199 12.3115C52.5794 12.4938 52.7663 12.6351 52.9805 12.7354C53.1947 12.8311 53.4134 12.8789 53.6367 12.8789C54.0286 12.8789 54.3454 12.7695 54.5869 12.5508C54.833 12.332 55.0062 12.0449 55.1064 11.6895H56.4395Z' fill='white')
