mixin liters()
  div(class="relative ")
    div(class="relative w-max")&attributes(attributes)
      div(class="absolute top-0 px-3.5")
        div(class="relative")
          svg( width='100%' height='31' viewbox='0 0 374 31' fill='none' xmlns='http://www.w3.org/2000/svg')
            
            path(d='M143 10H3V30' stroke='#D2D2D2' stroke-linecap='round')
            circle(cx='3' cy='28' r='3' fill='#D2D2D2')
            circle(cx='371' cy='28' r='3' fill='#D2D2D2')
            path(d='M231 10H371V30' stroke='#D2D2D2' stroke-linecap='round')
          div(class="bg-gray-light px-1.5 text-gray-light-75 -tracking-2 text-xs absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 whitespace-nowrap pb-1.5") Квартал современных домов
      div(class="flex gap-1.5 letters pt-7.5 pb-9") 
        svg(width='100%' height='100%' viewBox="0 0 34 36" fill='none' xmlns='http://www.w3.org/2000/svg' class="letter")
          path(d="M29.7039 35.0287H4.57445C2.62475 35.0287 1 33.4824 1 31.6269V11.833C1 10.8022 1.43327 9.87445 2.2998 9.15285L14.8645 1.73407C16.1643 0.703226 18.0057 0.703226 19.3055 1.73407L31.8702 9.15285C32.7368 9.77136 33.17 10.8022 33.17 11.833V31.6269C33.2783 33.4824 31.6536 35.0287 29.7039 35.0287Z" fill="#F7941D" stroke="#F7941D")
          text.letter-text(x='50%' y='70%' text-anchor="middle") №4
        a(href="https://www.google.com/") 
          svg(width='100%' height='100%' viewBox="0 0 34 36" fill='none' xmlns='http://www.w3.org/2000/svg' )
            path(d="M29.7039 35.0287H4.57445C2.62475 35.0287 1 33.4824 1 31.6269V11.833C1 10.8022 1.43327 9.87445 2.2998 9.15285L14.8645 1.73407C16.1643 0.703226 18.0057 0.703226 19.3055 1.73407L31.8702 9.15285C32.7368 9.77136 33.17 10.8022 33.17 11.833V31.6269C33.2783 33.4824 31.6536 35.0287 29.7039 35.0287Z" fill="#EDEDEE" stroke="#C0C0C0")
            text.letter-text(x='50%' y='70%' text-anchor="middle") №4
        a(href="https://www.google.com/") 
          svg(width='100%' height='100%' viewBox="0 0 34 36" fill='none' xmlns='http://www.w3.org/2000/svg' )
            path(d="M29.7039 35.0287H4.57445C2.62475 35.0287 1 33.4824 1 31.6269V11.833C1 10.8022 1.43327 9.87445 2.2998 9.15285L14.8645 1.73407C16.1643 0.703226 18.0057 0.703226 19.3055 1.73407L31.8702 9.15285C32.7368 9.77136 33.17 10.8022 33.17 11.833V31.6269C33.2783 33.4824 31.6536 35.0287 29.7039 35.0287Z" fill="#EDEDEE" stroke="#C0C0C0")
            text.letter-text(x='50%' y='70%' text-anchor="middle") №4
        a(href="https://www.google.com/") 
          svg(width='100%' height='100%' viewBox="0 0 34 36" fill='none' xmlns='http://www.w3.org/2000/svg' )
            path(d="M29.7039 35.0287H4.57445C2.62475 35.0287 1 33.4824 1 31.6269V11.833C1 10.8022 1.43327 9.87445 2.2998 9.15285L14.8645 1.73407C16.1643 0.703226 18.0057 0.703226 19.3055 1.73407L31.8702 9.15285C32.7368 9.77136 33.17 10.8022 33.17 11.833V31.6269C33.2783 33.4824 31.6536 35.0287 29.7039 35.0287Z" fill="#EDEDEE" stroke="#C0C0C0")
            text.letter-text(x='50%' y='70%' text-anchor="middle") №4
        
      
      

      
    div(class="absolute bottom-0 w-full ")
      div(class=" relative") 
        svg(width='100%' height='100%' viewbox='0 0 414 32' fill='none' xmlns='http://www.w3.org/2000/svg' class=" max-h-7")
          line(x1='1' y1='1' x2='413' y2='1' stroke='#C0C0C0' stroke-width='2' stroke-linecap='round')
          line(x1='0.5' y1='16.5' x2='129.5' y2='16.5' stroke='#C0C0C0' stroke-linecap='round' stroke-dasharray='6 6')
          line(x1='284.5' y1='16.5' x2='413.5' y2='16.5' stroke='#C0C0C0' stroke-linecap='round' stroke-dasharray='6 6')
          line(x1='1' y1='31' x2='413' y2='31' stroke='#C0C0C0' stroke-width='2' stroke-linecap='round')
        div(class="bg-gray-light text-gray-light-75 px-1 text-xs absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 whitespace-nowrap") ул. Фонарная 