mixin liters()
  div(class="relative w-max")&attributes(attributes)
    div(class="absolute top-0 px-6")
      div(class="relative")
        svg( width='100%' height='31' viewbox='0 0 374 31' fill='none' xmlns='http://www.w3.org/2000/svg')
          
          path(d='M143 10H3V30' stroke='#DF7D07' stroke-linecap='round')
          circle(cx='3' cy='28' r='3' fill='#DF7D07')
          circle(cx='371' cy='28' r='3' fill='#DF7D07')
          path(d='M231 10H371V30' stroke='#DF7D07' stroke-linecap='round')
        div(class="bg-yellow px-1.5 text-xs absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 whitespace-nowrap pb-1.5") Литер 1 
    div(class="flex letters pt-7.5 pb-12") 
      svg(width='50' height='54' viewbox='0 0 50 54' fill='none' xmlns='http://www.w3.org/2000/svg' class="letter")
        path(d='M43.0372 52H7.1103C4.32287 52 2 49.7305 2 47.0073V17.9566C2 16.4436 2.61943 15.082 3.85829 14.023L21.8218 3.1347C23.6801 1.62177 26.3126 1.62177 28.1709 3.1347L46.1344 14.023C47.3732 14.9307 47.9927 16.4436 47.9927 17.9566V47.0073C48.1475 49.7305 45.8247 52 43.0372 52Z' fill='#BF6F0E' stroke='#BF6F0E' stroke-width='4')
        text.letter-text(x='50%' y='70%' text-anchor="middle") №4
      a(href="https://www.google.com/") 
        svg(width='50' height='54' viewbox='0 0 50 54' fill='none' xmlns='http://www.w3.org/2000/svg' )
          path(d='M43.0372 52H7.1103C4.32287 52 2 49.7305 2 47.0073V17.9566C2 16.4436 2.61943 15.082 3.85829 14.023L21.8218 3.1347C23.6801 1.62177 26.3126 1.62177 28.1709 3.1347L46.1344 14.023C47.3732 14.9307 47.9927 16.4436 47.9927 17.9566V47.0073C48.1475 49.7305 45.8247 52 43.0372 52Z' stroke='#BF6F0E' stroke-width='4')
      a(href="https://www.google.com/") 
        svg(width='50' height='54' viewbox='0 0 50 54' fill='none' xmlns='http://www.w3.org/2000/svg' )
          path(d='M43.0372 52H7.1103C4.32287 52 2 49.7305 2 47.0073V17.9566C2 16.4436 2.61943 15.082 3.85829 14.023L21.8218 3.1347C23.6801 1.62177 26.3126 1.62177 28.1709 3.1347L46.1344 14.023C47.3732 14.9307 47.9927 16.4436 47.9927 17.9566V47.0073C48.1475 49.7305 45.8247 52 43.0372 52Z' stroke='#BF6F0E' stroke-width='4')
      a(href="https://www.google.com/") 
        svg(width='50' height='54' viewbox='0 0 50 54' fill='none' xmlns='http://www.w3.org/2000/svg' )
          path(d='M43.0372 52H7.1103C4.32287 52 2 49.7305 2 47.0073V17.9566C2 16.4436 2.61943 15.082 3.85829 14.023L21.8218 3.1347C23.6801 1.62177 26.3126 1.62177 28.1709 3.1347L46.1344 14.023C47.3732 14.9307 47.9927 16.4436 47.9927 17.9566V47.0073C48.1475 49.7305 45.8247 52 43.0372 52Z' stroke='#BF6F0E' stroke-width='4')
      a(href="https://www.google.com/") 
        svg(width='50' height='54' viewbox='0 0 50 54' fill='none' xmlns='http://www.w3.org/2000/svg' )
          path(d='M43.0372 52H7.1103C4.32287 52 2 49.7305 2 47.0073V17.9566C2 16.4436 2.61943 15.082 3.85829 14.023L21.8218 3.1347C23.6801 1.62177 26.3126 1.62177 28.1709 3.1347L46.1344 14.023C47.3732 14.9307 47.9927 16.4436 47.9927 17.9566V47.0073C48.1475 49.7305 45.8247 52 43.0372 52Z' stroke='#BF6F0E' stroke-width='4')
      a(href="https://www.google.com/")         
        svg(width='50' height='54' viewbox='0 0 50 54' fill='none' xmlns='http://www.w3.org/2000/svg' )
          path(d='M43.0372 52H7.1103C4.32287 52 2 49.7305 2 47.0073V17.9566C2 16.4436 2.61943 15.082 3.85829 14.023L21.8218 3.1347C23.6801 1.62177 26.3126 1.62177 28.1709 3.1347L46.1344 14.023C47.3732 14.9307 47.9927 16.4436 47.9927 17.9566V47.0073C48.1475 49.7305 45.8247 52 43.0372 52Z' stroke='#BF6F0E' stroke-width='4')
      a(href="https://www.google.com/") 
        svg(width='50' height='54' viewbox='0 0 50 54' fill='none' xmlns='http://www.w3.org/2000/svg' )
            path(d='M43.0372 52H7.1103C4.32287 52 2 49.7305 2 47.0073V17.9566C2 16.4436 2.61943 15.082 3.85829 14.023L21.8218 3.1347C23.6801 1.62177 26.3126 1.62177 28.1709 3.1347L46.1344 14.023C47.3732 14.9307 47.9927 16.4436 47.9927 17.9566V47.0073C48.1475 49.7305 45.8247 52 43.0372 52Z' stroke='#BF6F0E' stroke-width='4')
      
      
    div(class="absolute bottom-0 w-full")
      div(class=" relative") 
        svg(width='100%' height='100%' viewbox='0 0 414 32' fill='none' xmlns='http://www.w3.org/2000/svg')
          line(x1='1' y1='1' x2='413' y2='1' stroke='#DF7D07' stroke-width='2' stroke-linecap='round')
          line(x1='0.5' y1='16.5' x2='129.5' y2='16.5' stroke='#DF7D07' stroke-linecap='round' stroke-dasharray='6 6')
          line(x1='284.5' y1='16.5' x2='413.5' y2='16.5' stroke='#DF7D07' stroke-linecap='round' stroke-dasharray='6 6')
          line(x1='1' y1='31' x2='413' y2='31' stroke='#DF7D07' stroke-width='2' stroke-linecap='round')
        div(class="bg-yellow px-1 text-xs absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 whitespace-nowrap") ул. Фонарная 