include ./flag-svg.pug
svg(width='1904' height='781' viewbox='-20 100 1948 872' fill='none' preserveaspectratio='xMinYMin slice')
  a.cursor-pointer(data-hover='' data-button='plan_1-1')
    g(clip-path='url(#clip0_1204_19093)')
      path(class="path" d='M1862.5 384L1702.5 420.5L1731 559.5L1904 513.5L1862.5 384Z' fill='white' fill-opacity='0.16' stroke='white' stroke-opacity='0.98' stroke-width='3')
      path(class="path" d='M1826.5 264L1679 304.5L1702.5 420.5L1862.5 384L1826.5 264Z' fill='white' fill-opacity='0.16' stroke='white' stroke-opacity='0.98' stroke-width='3')
    +flag-svg("37")(transform="translate(1750,400)")
    +flag-svg("36")(transform="translate(1750,280)")
  a.cursor-pointer(data-hover='' data-button='plan_1-2')
    g(clip-path='url(#clip1_1204_19093)')
      path(class="path" d='M1657 310.5L1498 360.5L1523 615L1705.5 564.5L1657 310.5Z' fill='white' fill-opacity='0.16' stroke='white' stroke-opacity='0.98' stroke-width='3')
    +flag-svg("38")(transform="translate(1570,400)")
  a.cursor-pointer(data-hover='' data-button='plan_1-3')
    g(clip-path='url(#clip2_1204_19093)')
      path(class="path" d='M1498 360.5L1352.5 409L1349.5 663L1523 615L1498 360.5Z' fill='white' fill-opacity='0.16' stroke='white' stroke-opacity='0.98' stroke-width='3')
    +flag-svg("39")(transform="translate(1400,450)")
  a.cursor-pointer(data-hover='' data-button='plan_1-4')
    g(clip-path='url(#clip3_1204_19093)')
      path(class="path" d='M1328.5 418L1131 484L1125 725L1324.5 671L1328.5 418Z' fill='white' fill-opacity='0.16' stroke='white' stroke-opacity='0.98' stroke-width='3')
    +flag-svg("40")(transform="translate(1200,500)")
  a.cursor-pointer(data-hover='' data-button='plan_1-5')
    g(clip-path='url(#clip0_1208_19094)')
      path(class="path" d='M1124.5 719.5L925.5 776L970.5 549.5L1130.5 478.5L1124.5 719.5Z' fill='white' fill-opacity='0.16' stroke='white' stroke-width='3')
    +flag-svg("41")(transform="translate(1000,600)")
    defs
      clippath#clip0_1208_19094
        rect(width='1131' height='776' fill='white')
  