mixin rainbow
  div(class="flex")
    div(class=" w-7.5 h-7.5 xl:w-15 xl:h-15 bg-red")
    div(class=" w-7.5 h-7.5 xl:w-15 xl:h-15 bg-blue")
    div(class=" w-7.5 h-7.5 xl:w-15 xl:h-15 bg-brown")
    div(class=" w-7.5 h-7.5 xl:w-15 xl:h-15 bg-green-dark")
    div(class=" w-7.5 h-7.5 xl:w-15 xl:h-15 bg-yellow")
    div(class=" w-7.5 h-7.5 xl:w-15 xl:h-15 bg-bordeaux")
