$lg: theme("screens.lg");
$lg2: theme("screens.lg2");
$xl: theme("screens.xl");

@mixin screen-lg {
  @media screen and (min-width: $lg) {
    @content;
  }
}

@mixin screen-lg2 {
  @media screen and (min-width: $lg2) {
    @content;
  }
}

@mixin screen-xl {
  @media screen and (min-width: $xl) {
    @content;
  }
}
