@tailwind utilities;
@layer utilities {
  .w-850 {
    width: 850px;
  }
  .wrapper {
    @apply container px-0;
  }

  .wrapper-container {
    @apply container -mx-5 xl:mx-0;
  }

  .button {
    @apply py-3.5 px-7 text-base;
    min-width: 200px;
    letter-spacing: -0.02rem;
    height: max-content;
    &_yellow {
      @apply bg-yellow text-title;
    }
  }
  .button__group {
    display: flex;
    gap: 10px;
  }
  .button__round {
    @apply bg-white text-gray p-3.5;
    border-radius: 8px;
    border: 1px solid theme("colors.gray");
    min-width: 190px;
    &_active {
      @apply bg-yellow text-white;
      border-color: theme("colors.blue");
    }
    &_disabled {
      @apply opacity-30;
    }
  }

  .advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 15px;
    @include screen-lg {
      gap: 70px 30px;
    }
    @include screen-xl {
      gap: 60px 20px;
    }
  }

  .gap-x {
    @apply -mx-5 xl:mx-0;
  }

  .text-border {
    color: theme("colors.background") !important;
    text-shadow: 2px 0 2px theme("colors.dark"), 0 2px 2px theme("colors.dark"),
      -2px 0 2px theme("colors.dark"), 0 -2px 2px theme("colors.dark");
  }

  .label {
    @apply text-base xl:text-lg capitalize;
    border: 5px solid #ffffff;
    border-radius: 6px;
    padding: 10px;
    @include screen-xl {
      padding: 18px;
    }
    &-01 {
      @apply bg-yellow absolute left-3 top-1/2;
      transform: rotate(-15deg);
      @include screen-xl {
        left: 10%;
      }
    }

    &-02 {
      @apply bg-green absolute right-3 top-30;
      transform: rotate(7.85deg);
      @include screen-xl {
        right: 15%;
      }
    }
    &-03 {
      @apply bg-red absolute right-3 top-3/4 transform -rotate-6;
      transform: rotate(-15deg);
      @include screen-xl {
        right: 28%;
      }
    }
  }

  .card {
    @apply bg-dark p-5;
    @include screen-lg {
      width: 360px;
    }
    @include screen-xl {
      width: 500px;
    }
    &__static {
      min-height: 230px;
      position: relative;
      @include screen-xl {
        min-height: 300px;
      }
    }
  }
  .vetical {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
}
