include ../components/flag-content.pug
include ../components/card-application.pug
section.about-development#development
  div.container-195
    +flag-content(4, 'дк порадом')
    h2(class="text-center text-dark mb-7.5 xl:hidden") дк порадом
    h2(class=" text-8xl mb-10 xl:mb-0  xl:text-9.75xl") о застрой<span class="lg:hidden">-<br></span>щике

    div(class="about-development__top mb-10 xl:mb-28")
      img(src=require("./img/icons/poradom-circle.svg"), alt="poradom" class='about-development__top-logo')
      h2.about-development__top-text Застройщик таун-парка андерсен — Домостроительная компания ПОРАДОМ — ЛИДЕР МАЛОЭТАЖНОГО <br class="lg:hidden"> СТРОИТЕЛЬСТВА <br class="lg:hidden"> РЕСПУБЛИКИ <br class="lg:hidden"> башкортостан 
      img(src=require("./img/images/travel-guide/person-plan.png"), alt="план" class="about-development__top-icon")
    div(class="swiper fraction fractionSwiper lg:hidden mb-20")
      .swiper-wrapper.mb-5
        div(class="card card__static swiper-slide")
          h3(class=" text-gray text-5.25-5xl") в строительстве <br> загородных <br class="xl:hidden"> домов
          div(class="absolute right-6 bottom-0")
            +number('10', null, 'лет')
        div(class="card card__static swiper-slide")
          h3(class=" text-gray text-5.25-5xl") построенных домов <br> и таунхаусов
          div(class="absolute right-6 bottom-0")
            +number(500)
        div(class="card card__static swiper-slide")
          h3(class=" text-gray text-5.25-5xl") домов <br> ежегодно
          div(class="absolute right-6 bottom-0")
            +number(100)
        div(class="card card__static swiper-slide")
          h3(class=" text-gray text-5.25-5xl") счастливых <br> семей
          div(class="absolute right-6 bottom-0")
            +number('400+')
        div(class="card card__static swiper-slide")
          h3(class=" text-gray text-5.25-5xl") благоустроенных <br>посёлков
          div(class="absolute right-6 bottom-0")
            +number(6)
        div(class="card card__static swiper-slide")
          h3(class=" text-gray text-5.25-5xl") гарантия <br>на строительство
          div(class="absolute right-6 bottom-0")
            +number(15, null, 'лет')
      div(class="fraction__content")
        div.fraction__content-navigation
          .swiper-prev
          .swiper-next 
        div(class="swiper-fraction ")
    
    div(class=" hidden lg:flex lg:flex-wrap gap-2.5 xl:gap-3.75 lg:flex-row lg:justify-center mb-30 xl:mb-40")
        div(class="card card__static")
          h3(class=" text-gray text-5.25-5xl") в строительстве <br> загородных <br class="xl:hidden"> домов
          div(class="absolute right-6 bottom-0")
            +number('10', null, 'лет')
        div(class="card card__static")
          h3(class=" text-gray text-5.25-5xl") построенных домов <br> и таунхаусов
          div(class="absolute right-6 bottom-0")
            +number(500)
        div(class="card card__static")
          h3(class=" text-gray text-5.25-5xl") домов <br> ежегодно
          div(class="absolute right-6 bottom-0")
            +number(100)
        div(class="card card__static")
          h3(class=" text-gray text-5.25-5xl") счастливых <br> семей
          div(class="absolute right-6 bottom-0")
            +number('400+')
        div(class="card card__static")
          h3(class=" text-gray text-5.25-5xl") благоустроенных <br>посёлков
          div(class="absolute right-6 bottom-0")
            +number(6)
        div(class="card card__static")
          h3(class=" text-gray text-5.25-5xl") гарантия <br>на строительство
          div(class="absolute right-6 bottom-0")
            +number(15, null, 'лет')
  div.container-100  
    +card-application('посмотреть планировки', true,true)