include ../components/flag-content.pug
include ../components/number.pug
include ../components/advantage.pug
include ../components/rainbow.pug
include ../components/card-application.pug
- var advantage01 = 'Фельдшерско-акушерский пункт ';
- var advantage02 = '2000 м2 детских пространств';
- var advantage03 = 'Закрытый периметр посёлка, шлагбаумы';
- var advantage04 = 'Центральные коммуникации, артезианская вода';
- var advantage05 = 'До школы 6 минут на школьном автобусе';
- var advantage06 = 'Торговый центр, пункты выдачи маркетплейсов';
- var advantage07 = 'Кафе, пекарни, фермерские продукты';
- var advantage08 = 'Единая дизайн-среда, променад';
- var advantage09 = 'Более 100 камер и полная безопасность';
- var advantage10 = 'Спортивное звено, скейт-парк, беговая дорожка';
section(id="new") 
  
  div(class="container-195")
    +flag-content(1, 'о поселке')
    div()
      h2(class="text-center text-dark mb-7.5 lg2:hidden") о поселке
      div(class="hidden lg2:block")
        +rainbow()(class="justify-center mb-25")
      h2(class="section__title mb-7.5 lg2:mb-10 ") Таун-парк <br class=" lg:hidden"> андерсен — <br class="hidden lg:block lg2:hidden"> mini-город <br class="lg:hidden lg2:block"> <span class="text-yellow"> с maxi-возможностями </span> <br class="lg2:hidden"> рядом с Дёмой  
      div(class="flex flex-col gap-3.5 mb-15 lg:flex-row lg:items-center lg:justify-center lg2:gap-31.25 lg2:mb-20")
        div(class="flex flex-col gap-5 xl:gap-15 ")
          div(class="flex gap-5") 
            +number(100)(class="text-red")
            span(class="text-4xl xl:text-5.25-5xl font-reformagrotesk") индивидуальных <br> жилых домов
          div(class="flex gap-5") 
            +number(200)
            span(class="text-4xl xl:text-5.25-5xl font-reformagrotesk") таунхаусов
        div
          img(src=require("./img/images/travel-guide/tuk-tuk.png"), alt=""
            srcset=require("./img/images/travel-guide/tuk-tuk.png") + " 514w"
          sizes=" (max-width:1200px) 359px, 514px")
      div(class="advantages mb-15 lg:mb-30 xl:mb-40")
        +advantage('icon-01', advantage01, 'bg-blue')
        +advantage('icon-02', advantage02, 'bg-yellow')
        +advantage('icon-03', advantage03, 'bg-green-dark')
        +advantage('icon-04', advantage04, 'bg-red')
        +advantage('icon-05', advantage05, 'bg-red')
        +advantage('icon-06', advantage06, 'bg-brown')
        +advantage('icon-07', advantage07, 'bg-green-dark')
        +advantage('icon-08', advantage08, 'bg-blue')
        +advantage('icon-09', advantage09, 'bg-yellow')
        +advantage('icon-10', advantage10, 'bg-bordeaux')
  div.container-100  
    +card-application('заказать звонок')(class="mb-30 lg:mb-0 lg2:mb-40")
  div(class="swiper mainSwiper village-slider mb-15 xl:mb-20" id="photos")
    div(class='swiper-wrapper')
      div(class="swiper-slide ") 
        div(class="village-slider__slide")
      div(class="swiper-slide ") 
        div(class="village-slider__slide")
      div(class="swiper-slide ") 
        div(class="village-slider__slide")
      div(class="swiper-slide ") 
        div(class="village-slider__slide")
      div(class="swiper-slide ") 
        div(class="village-slider__slide")
      div(class="swiper-slide ") 
        div(class="village-slider__slide")
      div(class="swiper-slide ") 
        div(class="village-slider__slide")
      div(class="swiper-slide ") 
        div(class="village-slider__slide")
      div(class="swiper-slide ") 
        div(class="village-slider__slide")
    .swiper-prev
    .swiper-next  
    div(class="swiper-pagination")
  div.container-195
    div(class="flex flex-col flex-wrap gap-3.75  lg2:gap-2.5 lg2:flex-row justify-between mb-32 ")

      

      div(class="card card__static card_red")
        h3(class=" text-white text-5.25-5xl") Дома с участком <br> от 7 сот 
        div(class="absolute right-6 bottom-0")
          div(class="flex gap-1 lg2:gap-3 items-end text-yellow")
            span(class=" text-4xl lg2:text-5.25-5xl font-reformagrotesk mb-3.5  lg2:mb-5.25") от
            +number(120,null,null)
            span(class=" flex text-5.25-5xl lg2:text-8xl font-reformagrotesk mb-3")  м <span class=" text-2xl lg2:text-5xl">2</span>
      div(class="card card__static card_red")
        h3(class=" text-white text-5.25-5xl") Дом с участком
        div(class="absolute right-6 bottom-0")
          div(class="flex gap-3 items-end text-yellow")
            span(class=" text-4xl lg2:text-5.25-5xl font-reformagrotesk mb-3.5  lg2:mb-5.25") от
            +number(9,null,null)
            span(class=" flex text-5.25-5xl lg2:text-8xl font-reformagrotesk mb-3")  млн руб.
      div(class="card card__static card_red")
        h3(class=" text-white text-5.25-5xl") Ипотека на <br> строительство <br> дома
        div(class="absolute right-6 bottom-0")
          div(class="flex gap-3 items-end text-yellow")
            
            +number('6.3',null,null)
            span(class=" flex text-5.25-5xl lg2:text-8xl font-reformagrotesk mb-3")  %

      div(class="card card__static card_yellow")
        h3(class=" text-title text-5.25-5xl") Таунхаусы с участком <br> от 2 сот
        div(class="absolute right-6 bottom-0")
          div(class="flex gap-3 items-end text-white")
            span(class=" text-4xl lg2:text-5.25-5xl font-reformagrotesk mb-3.5  lg2:mb-5.25") от
            +number(80,null,null)(class="text-white")
            span(class=" flex text-5.25-5xl lg2:text-8xl font-reformagrotesk mb-3")  м <span class=" text-2xl lg2:text-5xl">2</span>
      div(class="card card__static card_yellow")
        h3(class=" text-title text-5.25-5xl") таунхаус с участком
        div(class="absolute right-6 bottom-0")
          div(class="flex gap-3 items-end text-white")
            span(class=" text-4xl lg2:text-5.25-5xl font-reformagrotesk mb-3.5  lg2:mb-5.25") от
            +number(7,null,null)(class="text-white")
            span(class=" flex text-5.25-5xl lg2:text-8xl font-reformagrotesk mb-3")  млн руб.
      div(class="card card__static card_yellow")
        h3(class=" text-title text-5.25-5xl") семейная ипотека
        div(class="absolute right-6 bottom-0")
          div(class="flex gap-3 items-end text-white")
            +number('5.7',null,null)(class="text-white")
            span(class=" flex text-5.25-5xl lg2:text-8xl font-reformagrotesk mb-3")  %
            
      

    