div(class="navigation") 
  div(class=' container')
    div(class=" flex justify-between items-center")
      img(src=require("../img/icons/poradom.svg"), alt="poradom" class="hidden xl:block")
      div(class=' flex items-center xl:gap-22.75')
        a(href="#photos" class="base hidden xl:block") Фотографии таун-парка
        div(class='navigation__logo') 
          img(src=require("../img/images/logo.png"), alt="logo" class="navigation__logo-icon")
        a(href="#" class="base hidden xl:block") ЗD-прогулка
      a(href="#" class=" underline text-base xl:hidden") Выбрать таунхаус
      div(class="hidden xl:flex xl:items-center xl:gap-9")
        a(href="#" class="button button_yellow") Выбрать таунхаус
        div(class=" flex flex-col gap-1") 
          span(class="text-base") +7 (347) 201-35-73
          a(href="#" class=" text-sm underline text-gray") Заказать звонок