footer(class="py-10 lg2:pb-15")
  div(class="container")
    div(class=" mb-15 lg2:mb-10 lg2:flex lg2:items-center lg2:justify-between")
      div(class="flex justify-between items-center mb-10 lg2:mb-0 lg:gap-20") 
        img(src=require("../img/icons/logo-bordered.svg"), alt="person-search" )
        button(href="#" class="grow button button_yellow hidden lg:block lg2:hidden") Заказать звонок
        a(href="#" class="lg2:hidden flex items-center gap-5 capitalize") 
          img(src=require("../img/icons/up-arrow.svg"), alt="up")
          | Наверх
      div(class="lg2:flex lg2:gap-28 lg2:items-center")
        a(href="#" class="hidden lg2:flex lg2:items-center lg2:gap-5 capitalize") 
          img(src=require("../img/icons/up-arrow.svg"), alt="up")
          | Наверх
        button(href="#" class="w-full button button_yellow lg:hidden lg2:block") Заказать звонок
    div(class="w-full h-px bg-gray mb-10 lg2:mb-5")
    div(class=" capitalize flex flex-col lg:flex-row lg:items-center lg:justify-between")
      div(class="mb-7.5 lg:mb-0  flex flex-col lg:flex-row gap-2.5 lg2:gap-40") 
        a(href="#" class="text-gray text-xs") © 2022 Андерсен
        div(class="flex flex-col lg:flex-row gap-2.5  lg2:gap-25")
          a(href='politica-conf.pdf' target='_blank' class="text-gray text-xs") Политика конфиденциальности
          a(href='project-decl.pdf' target='_blank' class="text-gray text-xs ") Проектная декларация
      div(class="flex items-end gap-7.5")
        p(class="text-gray text-xs") Сайт построили
        a(href="#")
          img(src=require("../img/icons/logo-yesidea.svg"), alt="yesidea") 
  button(class=" overflow-hidden " data-succes data-request data-popupType="thank")  

      