include ../components/flag.pug
section
  div(class="container")
    div(class="flex gap-5")
      +flag
      h2(class="text-8xl xl:text-9.75xl") смотреть онлайн <br> историю строительства
    div
      img(src=require("./img/images/travel-guide/person-search.png"), alt="person-search")

      