include ../components/flag-content.pug
section(class="pb-20 xl:pb-40" id="history")
  div(class="container-195 xl:pr-25")
    +flag-content(null, 'live')
    div(class="lg:flex lg:justify-between")
      div.relative
        h2(class=" text-5.25-5xl lg:text-8xl mb-10 xl:mb-0  xl:text-9.75xl") смотреть <br class="hidden lg:block xl:hidden"> онлайн <br> историю <br class="hidden lg:block xl:hidden"> строительства
        div(class="history__play-wrapper absolute  hidden lg:block xl:hidden") 
            a(href="https://vimeo.com/115041822" class="history__play glightbox glightbox__center")
              div(class="history__play-triangle")
      div(class="history")
        div(class="history__quard")
          div(class="history__play-wrapper absolute top-0 lg:hidden xl:block") 
            a(href="https://vimeo.com/115041822" class="history__play glightbox glightbox__center")
              div(class="history__play-triangle")
          img(src=require("./img/images/travel-guide/person-search.png"), alt="person-search" class="history__img")


      