include ../components/flag-content.pug
include ../components/number.pug
include ../components/card-application.pug
section 
  div(class="container-195 xl:pr-25")
    +flag-content(2, 'локация')
    div(class="xl:hidden") 
      h2(class="text-center text-dark") локация
      h3(class="text-center text-4xl text-gray mb-7.5") 54.756604, 55.745656
    div(class="relative travel-time mb-7.5 xl:mb-44 flex justify-between")
      div(class="flex flex-col xl:block")
        div(class="text-8xl xl:text-9.75xl font-reformagrotesk") 20 минут
        img(src=require("./img/icons/road-car.svg"), alt="road-car" class="travel-time__car-road")
        div(class="travel-time__to self-end") 
          div(class="text-8xl xl:text-9.75xl font-reformagrotesk text-gray mb-5 xl:mb-7.5") от уфы
          p(class="text-gray") Местонахождение: <br> деревня Начапкино <br> на юго-западе Уфы
        img(src=require("./img/images/travel-guide/20minuts.png"), alt="20minuts" class="travel-time__icon")
      div(class="travel-time__map")  
    div(class="hidden xl:flex justify-between mb-32")
      div(class="shrink-0 xl:-ml-40")
        img(src=require("./img/images/travel-guide/20minuts.png"), alt="20minuts" width="758" height="717" )
      div(class=" hidden w-850 xl:flex xl:flex-col xl:gap-60")
        div(class="flex justify-between")
          h4(class=" text-5.25-5xl text-gray") от Монумента Дружбы <br> через Дёмское шоссе
          +number(21,null,'км')
        div(class="flex justify-between")
          h4(class=" text-5.25-5xl text-gray") От Затонского моста
          +number(22,null,'км')
        div(class="flex justify-between")
          h4(class=" text-5.25-5xl text-gray") от дЁмы
          +number(10,null,'км')
        div(class="flex justify-between")
          h4(class=" text-5.25-5xl text-gray") до школы
          +number(8,null,'км')
        div(class="flex justify-between")
          h4(class=" text-5.25-5xl text-gray") до нового дома
          +number(1,null,'км')
  .container-100
    +card-application('заказать звонок')(class="mb-30 xl:mb-40")
  div(class="container px-0")
    div(class="mb-15 xl:mb-30 relative marquee")
      marquee(scrolldelay=60 scrollamount=20 behavior='scroll') 
        span(class=" text-8xl xl:text-14.75xl font-reformagrotesk") Первый Первый Первый Первый Первый Первый Первый Первый Первый Первый 
      marquee(scrolldelay=60 scrollamount=20 behavior='scroll' direction="right") 
        span(class=" text-8xl xl:text-14.75xl font-reformagrotesk text-border") загородный загородный загородный загородный загородный загородный 
      marquee(scrolldelay=60 scrollamount=20 behavior='scroll') 
        span(class=" text-8xl xl:text-14.75xl font-reformagrotesk") дизайн-поселок дизайн-поселок дизайн-поселок дизайн-поселок дизайн-поселок дизайн-поселок
      marquee(scrolldelay=60 scrollamount=20 behavior='scroll' direction="right") 
        span(class=" text-8xl xl:text-14.75xl font-reformagrotesk text-border") в башикирии в башикирии в башикирии в башикирии в башикирии в башикирии 

      img(src=require("./img/images/rooster.png"), alt="" class=" absolute top-0 w-full h-full object-cover")
      p(class="label label-01  ") Беззаборная среда
      p(class="label label-02  ") Единый дизайн-код
      p(class="label label-03 ") Променад