include ../components/flag-content.pug
include ../components/card-application.pug
section
  div(class="container-195")
    +flag-content(3)
    h2(class="text-8xl xl:text-9.75xl xl:mb-15") почему андерсен
  div.container-100
    +card-application('выбрать таунхаус или дом', false)

